//Lists

.inline-list
  padding: 0
  margin: 0
  display: inline-block

  &__item
    display: inline-block

    &--bordered
      border-right: 1px solid grey
      margin: 15px 0

    &--centered
      text-align: center


.vertical-list
  color: #000
  padding: 0

  &__item
    list-style-type: none

    &--bordered
      border-bottom: 1px solid #d3d3d3

    &--transparent
      background-color: transparent

  &__href
    color: #636b6f
    display: block
    padding: 7px
    text-decoration: none
    font-size: 18px

    &--last

      &:hover
        border-bottom: 3px solid grey

    &:hover
      text-decoration: none
      background-color: rgba(160, 188, 207, 0.16)
      border-left: 3px solid grey


//Buttons

.btn-markAnswer
  @extend .btn-primary

  &:hover
    transition: background 0.3s

.btn-markedAnswer
  background-color: transparent
  color: $brand-primary

  &:focus
    background-color: transparent
    color: $brand-primary

.btn-facebook
  background-color: #3b5998

  &:hover
    background-color: #2d4373

// Menu's
.bordered-menu
  border-top: 1px solid grey
  border-bottom: 1px solid grey
  font-size: 25px
  padding: 0

  &__item
    display: inline-block

    a
      text-decoration: none
      color: inherit

      &:hover
        color: black

    &:hover
      border-bottom: 1.5px solid #000

    &--active
      border-bottom: 1.5px solid #000
      font-weight: 700



// Headers
.page-header
  margin: 0 0 22px

//Forms
.form-inlineBlock
  display: inline-block