//Lists

.inline-list
  padding: 0

  li
    display: inline-block

//Buttons

.btn-mark_answer
  @extend .btn-primary

.btn-marked_answer
  background-color: transparent
  color: $brand-primary

  &:focus
    background-color: transparent
    color: $brand-primary

