//Lists

.inline-list
  padding: 0

  li
    display: inline-block

    &--bordered
      border-right: 1px solid grey
      margin: 15px 0px


  &--centered
    text-align: center

//Buttons

.btn-mark_answer
  @extend .btn-primary

.btn-marked_answer
  background-color: transparent
  color: $brand-primary

  &:focus
    background-color: transparent
    color: $brand-primary

// Menu's

.bordered-menu
  border-top: 1px solid grey
  border-bottom: 1px solid grey
  font-size: 25px
  padding: 0

  &__item
    display: inline-block

    a
      text-decoration: none
      color: inherit

      &:hover
        color: black

    &:hover
      border-bottom: 1.5px solid #000

    &--active
      border-bottom: 1.5px solid #000
      font-weight: 700


// Profile sidebar menu

.profile-sidebar
  background-color: #fff

  &_name
    font-size: 20px
    line-height: 42px

  &_avatar
    float: left
    height: 50px
    width: 50px


.page-header
  margin: 0 0 22px