
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

.question-view-title {

}

.ask-form-row {
  margin-bottom: 150px;
}

.body {
  background-color: #424b5f !important;
}

.bullet-list {
  padding: 0;

  li {
    display: inline-block;
  }
}

.answers-block {
  display: inline-block;
  font-size: 20px;
  margin-top: 30px;
}

.question-avatar {
  height: 50px;
  margin-right: 100px;
}

.h2 {               /*TODO redesign it*/
  font-weight: 600;
}

.question-buttons {
  margin-left: 25px;
}

.captcha {
  margin-bottom: 15px;
  margin-left: 249px;
}

.fa-check {
  color: #008000;
}

.approved-answer-button {
  background-color: transparent;
  color: $brand-primary;
}
